body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #565A5C;
}

.aisdemo--left-column {
    height: 400px;
}

.aisdemo--right-column {
    padding-right: 0;
    padding-left: 0;
}
