/* FILTERS
// ------------------------- */
.aisdemo-filters .aisdemo-filter {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DCE0E0;
}
.aisdemo-filters .aisdemo-filter-title {
    font-size: 1em;
    font-weight: normal;
    padding-top: 9px;
    padding-left: 30px;
}
.aisdemo-filters #room_types .ais-refinement-list__count {
    display: none;
}
.aisdemo-filters #room_types .ais-refinement-list__item {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flaot: left;
    width: 25%;
    display: inline-block;
    cursor: pointer;
}
.aisdemo-filters #room_types .ais-refinement-list__item label {
    font-size: .8em;
    font-weight: normal;
    box-sizing: border-box;
    width: 100%;
    padding: 9px 10px 7px;
    background: #EDEFED;
}
.aisdemo-filters #room_types input[type=checkbox] {
    position: relative;
    bottom: 3px;
    float: right;
    width: 1.25em;
    height: 1.25em;
    margin-left: 20px;
    vertical-align: top;
    border: 1px solid #DCE0E0;
    background: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.aisdemo-filters #room_types input[type=checkbox]:focus {
    outline: none;
}
.aisdemo-filters #room_types .ais-refinement-list__item--active input[type=checkbox]:before {
    font-size: .85em;
    position: absolute;
    width: 1.25em;
    content: '\2713';
    text-align: center;
    color: #FF5A5F;
}
.aisdemo-filters #price .ais-range-slider__target {
    margin: 30px 9px 18px;
}
.aisdemo-filters #price .ais-range-slider__handle {
    border-color: #FF585B;
}
.aisdemo-filters #price .ais-range-slider__handle-lower {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.aisdemo-filters #price .ais-range-slider__handle-upper {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}
.aisdemo-filters #price .ais-range-slider__tooltip:last-child {
    right: 0;
}
.aisdemo-filters #price .ais-range-slider__connect {
    background-color: #FF585B;
}
