/* RESULTS
// ------------------------- */
#results {
    padding: 40px 20px;
    background: #EDEFED;
}

#hits .hit .pictures-wrapper {
    position: relative;
}
#hits .hit .pictures-wrapper .picture {
    width: 100%;
}
#hits .hit .pictures-wrapper .profile {
    position: absolute;
    bottom: -16px;
    right: 12px;
    width: 60px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}
#hits .hit .infos {
    height: 90px;
    padding: 16px 20px;
}
#hits .hit .infos h4 {
    font-size: 1em;
    font-weight: normal;
}
#hits .hit .infos p {
    font-size: .8em;
    color: #949697;
}
#hits .hit .infos em {
    font-style: normal;
    color: #FF585B;
}
